html, body {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    padding:0;
    margin:0;
    color:#fff;
}

body {
    width:100%;
    height:100%;
    font-size: 90%;
}

#map-canvas { height: 500px; }

.header p {
    margin-top: 0;
    margin-bottom: 0;
}

.header a:hover {color: red; cursor: pointer;}

.fileselection .generators {padding-left:2em}
.fileselection a:link {color: black; text-decoration:none;}
.fileselection a:visited {color: black; text-decoration:none;}
.fileselection a:hover {color: red; cursor: pointer;}
.fileselection h4 {text-indent:1em}

.fileselection .utility {
    text-indent:0em; 
    font-size:150%; 
    font-weight: bold; 
    line-height: 200%;
}

.fileselection .type {
    text-indent:1em; 
    font-size:90%; 
    font-weight: normal; 
    line-height: 130%;
}

.fileselection .generator:hover {color: red; cursor: pointer;}
.fileselection .generator {
    text-indent:2em; 
    font-size:80%;
    line-height: 150%;
}

.generator {
    font-size:90%;
}

.datalisting {
    font-size: 100%;
    line-height: 130%;
}

.data .introtext {
    font-size: 125%;
}

.short-definition {display:none};

.chart {
    float:left;
    max-width: 100%;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 2;
}

.axis text {
    font-size: 100%;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.title {
    font-size: 130%;
}

.title:hover { cursor: pointer;}
.reset:hover { cursor: pointer;}
.download:hover { cursor: pointer;}
.sort-button:hover { cursor: pointer;}


.clickline { pointer-events:all; }

.legend rect {
  fill:none;
  stroke:gray;
  opacity:1;
}

g.legend-item text { font-size: 90%; }
.chart .sort-button { fill: #dfdfdf }
text.sort-button:hover { fill: #0972a5 !important}

.lineOrArea-button:hover { cursor: pointer;}
.lineOrArea-button { fill: #dfdfdf }
text.lineOrArea-button:hover { fill: #0972a5 !important}

text.enlarge-shrink-button { fill: #dfdfdf; font-size:150% }
text.enlarge-shrink-button:hover { cursor: pointer; fill: #0972a5 !important}

.download svg:hover { stroke: #0972a5 !important; fill: #0972a5 !important;} /* doesn't work so hard coded in uad3graphs.js */
.reset:hover { fill: #0972a5  !important}

.tooltip {
    z-index: 10;
    font-weight: bold;
    visibility: hidden;
    display: inline;
    position: fixed;
    background-color: white;
    padding: 5px;
    opacity: 0.85;
}

.tooltipable {
    display: inline;
    position: relative;
    color: #26b3f7;
}

.tooltipable:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(def);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltipable:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

/* craigs colors */
/* 
.Load { stroke : #da1f26; }

.Load-Aggregate { stroke : #da1f26; }
.Net-all { stroke: #da1f26; }
.Net-VERs { stroke: #399348; }

.Total { stroke: black; }
.Renew { stroke: #399348; }
.Gas { stroke: #e66124; }
.Coal { stroke: #bbbdc0; }
.Nuclear { stroke: #991620; }

.Solar { stroke : #f5c040;} 
.Wind { stroke: #b178a5; }

.Hydro { stroke: #7bafde; }
.Biomassgas { stroke: #ff7f0e; }
.Geothermal { stroke: rgb(141,15,15); }

.Other-Renew { stroke: #cadfab; }
.Other-Fossil { stroke: #892e72; }
.Conven Gen { stroke: indigo; }

.Aggregate { stroke: black; }
.APS { stroke: #da1f26; }
.TEP { stroke: #399348; }
.SRP { stroke: #1c66b0; }
.WALC { stroke: #892e72; }
.EPE { stroke: #f0932b; }
.PNM { stroke: #bbbdc0; }
.IID { stroke: #991620; }

.Dispatchable-Renewables { stroke: #cadfab; }
.VERs { stroke: #ff7f0e; }

.Solar-PV { stroke: #f5c040; }
.Solar-CSP { stroke: #ff7f0e; }
 */


/* color brewer 12 qual */

/* 
.Load { stroke : #a6cee3; }

.Load-Aggregate { stroke : #a6cee3; }
.Net-all { stroke: #e31a1c; }
.Net-VERs { stroke: #33a02c; }

.Total { stroke: black; }
.Renew { stroke: #33a02c; }
.Gas { stroke: #fdbf6f; }
.Coal { stroke: #bbbdc0; }
.Nuclear { stroke: #6a3d9a; }

.Solar { stroke : #da1f26;} 
.Wind { stroke: #b2df8a; }
.Hydro { stroke: #1f78b4; }
.Biomassgas { stroke: #cab2d6; }
.Geothermal { stroke: #b15928; }

.Other-Fossil { stroke: #892e72; }
.Other-Renew { stroke: #b2df8a; }
.Conven-Gen { stroke: #fb9a99; }

.Aggregate { stroke: black; }
.APS { stroke: #da1f26; }
.TEP { stroke: #399348; }
.SRP { stroke: #1c66b0; }
.WALC { stroke: #892e72; }
.EPE { stroke: #f0932b; }
.PNM { stroke: #bbbdc0; }
.IID { stroke: #991620; }

.Dispatchable-Renewables { stroke: #cadfab; }
.VERs { stroke: #ff7f0e; }

.Solar-PV { stroke: #f5c040; }
.Solar-CSP { stroke: #ff7f0e; }
 */
 
/* custom colors */
.Load, .Load-Aggregate { stroke : #b41f2d; }
.Net-VERs { stroke: #1f721f; }
.Net-all { stroke: #165682; }

.Total { stroke: black; }
.Renew { stroke: #1f721f; }
.Gas { stroke: #165682; }
.Coal { stroke: #727272; }
.Nuclear { stroke: #b41f2d; }

.Solar { stroke : #2fa45f;} 
.Wind { stroke: #a42f74; }
.Hydro { stroke: #2f74a4; }
.Biomassgas { stroke: #b45c1f; }
.Geothermal { stroke: #b4a71f; }

.Other-Fossil { stroke: #892e72; }
.Other-Renew { stroke: #b2df8a; }
.Conven-Gen { stroke: #fb9a99; }

.Aggregate { stroke: black; }
.APS { stroke: #b41f2d; }
.TEP { stroke: #1f721f; }
.SRP { stroke: #165682; }
.WALC { stroke: #a42f74; }
.EPE { stroke: #b4a71f; }
.PNM { stroke: #727272; }
.IID { stroke: #b45c1f; }

.Dispatchable-Renewables { stroke: #cadfab; }
.VERs { stroke: #ff7f0e; }

.Solar-PV { stroke: #f5c040; }
.Solar-CSP { stroke: #ff7f0e; }

/* #triangle {display:block;} */

/*.white div { color: black; background-color: white !important; } // we'll be a bit more specific than this.. below */
.white .axis path { stroke: black !important; }
.white .axis line { stroke: black !important; }
.white text { fill: black !important; }
.white text.title:hover, .white text.reset:hover { fill: #0972a5 !important; }
.white g.legend-item text { fill: black !important; }
.white text.title, .white text.reset { fill: black !important; }
.white .zoom { background-color: white !important; }
.white .tooltip { color:#fff; background: rgba(0,0,0,0.7); }
/* .white #bg :not(.ua-wrapper) { background-image: none; } */

body.white { background:none; }
body.white #bg { background-size:100% auto; }
/* body.white #bg { background:none }/ */
body.white #main { background-color: #fff;color:#000; }
body.white .ui-widget-content { background: #fff ; color: #000;border-right: 1px solid #ccc!important; }
body.white .ui-widget-content a { color: #000; }
body.white .fieldset-desc { color:#666; }
body.white input, body.white textarea, body.white .ui-widget input, body.white .ui-widget textarea { border:1px solid #ccc!important;color:#000; }
body.white ul.subnav li.selected { background-color: rgba(51,51,51,0.1); }
body.white ul.subnav li a { color:#000; }
body.white ul.subnav li.selected a { color:#000; }
/* body.white ul.subnav li:hover a,  */
body.white ul.subnav-generator-list li a:hover  { color: #0972a5; }
body.white legend { color: #333; }
body.white .ui-button, body.white input.ui-button, body.white .ui-widget input.ui-button { color: #fff; }
body.white #leftnav .ui-accordion .ui-accordion-content.subnav-type-content { background-color: #fff;color:#000; }
body.white #leftnavtoplvlaccordion { border-bottom: 1px solid #ccc!important; }
body.white .ui-datepicker-calendar a { background: #eeeeee; }
body.white .ui-datepicker-calendar .ui-state-active { background: #0972a5; }
/* body.white .ui-state-highlight { background: #b41f2d url() 50% 50% repeat-x; } */
/* body.white .tooltipable { color: #089be2 } */

.graphpaper .axis path { stroke: black !important; }
.graphpaper .axis line { stroke: black !important; }
.graphpaper text { fill: black !important; }
.graphpaper text.title:hover, .graphpaper text.reset:hover { fill: #0972a5 !important; }
.graphpaper g.legend-item text { fill: black !important; }
.graphpaper text.title, .graphpaper text.reset:hover { fill: black !important; }
.graphpaper .zoom { background-color: transparent !important; }
.graphpaper .tooltip { color:#fff; background: rgba(0,0,0,0.7); }
/* .graphpaper #bg :not(.ua-wrapper) { background-image: none; } */

/* body.graphpaper { background:none; } */
body.graphpaper #bg { background-size:100% auto; }
/* body.graphpaper #bg { background:none }/ */
body.graphpaper #main { background-color: transparent;color:#000; }
body.graphpaper .ui-widget-content { background: #fff; color: #000;border-right: 1px solid #ccc!important; }
body.graphpaper .ui-widget-content a { color: #000; }
body.graphpaper .fieldset-desc { color:#666; }
body.graphpaper input, body.graphpaper textarea, body.graphpaper .ui-widget input, body.graphpaper .ui-widget textarea { border:1px solid #ccc!important;color:#000; }
body.graphpaper ul.subnav li.selected { background-color: rgba(51,51,51,0.1); }
body.graphpaper ul.subnav li a { color:#000; }
body.graphpaper ul.subnav li.selected a { color:#000; }
/* body.graphpaper ul.subnav li:hover a,  */
body.graphpaper ul.subnav-generator-list li a:hover { color: #0972a5; }
body.graphpaper legend { color: #333; }
body.graphpaper .ui-button, body.graphpaper input.ui-button, body.graphpaper .ui-widget input.ui-button { color: #fff; }
body.graphpaper #leftnav .ui-accordion .ui-accordion-content.subnav-type-content { background-color: #fff;color:#000; }
body.graphpaper #leftnavtoplvlaccordion { border-bottom: 1px solid #ccc!important; }
body.graphpaper .ui-datepicker-calendar a { background: #eeeeee; }
body.graphpaper .ui-datepicker-calendar .ui-state-active { background: #0972a5; }
body.graphpaper #contact-form .form-row input, body.graphpaper #contact-form .form-row textarea { background:white }
/* body.graphpaper .tooltipable { color: #089be2 } */
/* body.graphpaper #header { background:none;background-color:rgba(51,51,51,0.1); color:#000; } */

ul.subnav li.selected { background-color: rgba(51,51,51,0.1);}
ul.subnav li.selected a { color:#666; }

#utility-logos { background-color: #fff; background: #fff; }

#utility-logos img {
    max-height: 100px;
    max-width: 175px;
    padding: 10px;
}

#image-slider-container {
    margin: 10px;
}

.slider {}

.mapcontrol { margin: 5px; margin-left: 10px;}
