html, body {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    padding:0;
    margin:0;
}

body {
    width:100%;
    height:100%;
    font-size: 90%;
    background-color: #B5B5B5;
    background-color: #CCCCCC;
}

#map-canvas { height: 500px; }

.code { font-family: monospace };

/*
a {
    text-decoration: none;
}
 */

a:link    { color: rgb(49, 54, 149) }  /* unvisited links */
a:visited { color: rgb(49, 54, 149) }  /* visited links   */

.header p {
    margin-top: 0;
    margin-bottom: 0;
}

.header a:hover {color: red; cursor: pointer;}

.season-control:hover {color: red; cursor: pointer;}

#data {
    padding-top: 20px;
}

#intro {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

.chart {
    float:left;
    max-width: 100%;
}

.active {
    font-weight: 900;
/*     text-decoration: underline; */
    border-bottom:1px solid #000;
    padding-bottom:0px;
}

table.year-selector {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
/*     border-spacing: 2px 1px; */
    padding-bottom: 1px
    font-weight: 700;
}

table.year-selector:hover { cursor: pointer; }

g.gen_data.active.text { font-weight: 300 };

.year-selector:hover {color: red; cursor: pointer;}

.axis line,
.axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke-width: 2;
}

.axis text {
    font-size: 100%;
}

.line {
    fill: none;
/*     set stroke in chart.js since highlighting works better with attributes*/
}

.title {
    font-size: 130%;
}

.title:hover { cursor: pointer;}
.reset:hover { cursor: pointer;}
.download:hover { cursor: pointer;}
.sort-button:hover { cursor: pointer;}


.clickline { pointer-events:all; }

.legend rect {
  fill:none;
  stroke:gray;
  opacity:1;
}

g.legend-item text { font-size: 90%; }
.chart .sort-button { fill: #dfdfdf }
text.sort-button:hover { fill: #0972a5 !important}

.lineOrArea-button:hover { cursor: pointer;}
.lineOrArea-button { fill: #dfdfdf }
text.lineOrArea-button:hover { fill: #0972a5 !important}

text.enlarge-shrink-button { fill: #dfdfdf; font-size:150% }
text.enlarge-shrink-button:hover { cursor: pointer; fill: #0972a5 !important}

.download svg:hover { stroke: #0972a5 !important; fill: #0972a5 !important;} /* doesn't work so hard coded in uad3graphs.js */
.reset:hover { fill: #0972a5  !important}

.tooltip {
    z-index: 10;
    font-weight: bold;
    visibility: hidden;
    display: inline;
    position: fixed;
    background-color: white;
    padding: 5px;
    opacity: 0.85;
}

.tooltipable {
    display: inline;
    position: relative;
    color: #26b3f7;
}

.tooltipable:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(def);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltipable:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}




